1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 


Ans 1.  *    = expression
        'hello'= Value
        -87.8  = Value
        -      = expression   
        /      = expression   
        +	   = expression
        6      = Value

Q2.    What is the difference between string and variable?

Ans2.  A variable is used to store a data or information in a program where as a string in a information that is stored in a            variable

Q3. Describe three different data types.

Ans. 1.Numeric Datatype-  Numeric data type in Pytjon represent the data which has numeric value.Numeric value can be integer,          floating number or even complex numbers. These values are defined as int, float and complex class in Python.

     a) int-It contains positive or negative whole numbers (without any fraction or decimal no) eg-a= 2,34, b=2889 etc
     b) float- It contains decimals. eg. a=2.45,b=7.98 etc
     c) complex-It contains complex nos(Have real + imaginary part).
     
     2.Sequence DataTypes-sequence is the ordered collection of similar or different data types. Sequences allows to store              multiple values in an organized and efficient way
     
     a) Sring-The string can be defined as the sequence of characters represented in the quotation marks. In Python, we can use         single, double, or triple quotes to define a string.eg- a="Python",b= "1",c='1.8'.
     b) List- List is a ordered collection of data.The items stored in the list are separated with a comma (,) and enclosed             within square brackets [].eg- list1  = [12, "hi", "Python", 2].
     c) Tuple -  tuples also contain the collection of the items of different data types. The items of the tuple are separated           with a comma (,) and enclosed in parentheses ().We can't modify the size and value of the items of a tuple. 
        eg-  tp  = ("hi", "Python", 12)  
        
      3)Boolean-Boolean has the two built-in values, True or False. True can be represented by any non-zero value or 'T' whereas         false can be represented by the 0 or 'F'.
      eg - a=True
           b=False

4. What is an expression made up of? What do all expressions do?

Ans4. An expression is a combination of operators and operands that is interpreted to produce some other value.
      1. Constant Expressions: These are the expressions that have constant values only.
      2. Arithmetic Expressions: An arithmetic expression is a combination of numeric values, operators, and sometimes                    parenthesis. The result of this type of expression is also a numeric value. The operators used in these expressions are          arithmetic operators like addition, subtraction, etc. 
      3. Integral Expressions: These are the kind of expressions that produce only integer results after all computations and            type conversions.
      4. Floating Expressions: These are the kind of expressions which produce floating point numbers as result after all                computations and type conversions.
      5. Relational Expressions: In these types of expressions, arithmetic expressions are written on both sides of relational            operator (> , < , >= , <=). Those arithmetic expressions are evaluated first, and then compared as per relational                operator and produce a boolean output in the end. These expressions are also called Boolean expressions.
      6. Logical Expressions: These are kinds of expressions that result in either True or False. It basically specifies one or          more conditions. For example, (10 == 9) is a condition if 10 is equal to 9. As we know it is not correct, so it will            return False.
      7. Combinational Expressions: We can also use different types of expressions in a single expression, and that will be              termed as combinational expressions.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans5. A statement is an instruction that the Python interpreter can execute whereas An expression is a combination of operators       and operands that is interpreted to produce some other value

6. After running the following code, what does the variable bacon contain?
   bacon = 22
   bacon + 1
   
Ans. 23

In [5]:
  bacon = 22 
  bacon + 1

23

7. What should the values of the following two terms be?

   'spam' + 'spamspam'
   'spam' * 3


Ans- 'spam' + 'spamspam' = 'spamspamspam'

     'spam' * 3    =   'spamspamspam'

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans-  A variable can contain numerical value but should not start with a numerical value ,thats why variable name 100 is              invalid, while a variable name can start with an alphabet which does not have any special character, thats why eggs is          valid variable name

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans. int(), float() and str() can be used to get the integer, floating-point number, or string version of a value.

10. Why does this expression cause an error? How can you fix it?
    'I have eaten ' + str(99) + ' burritos.'
    
Ans. We can not concatenate a string and integer together
     To concatenate them we have to change the type integer to String.
     'I have eaten ' +str(99 ) + ' burritos.'

In [10]:
 'I have eaten ' +str(99 ) + ' burritos.'

'I have eaten 99 burritos.'